<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Superheroes</title>
</head>
<body>
    <h1>Todos los Superhéroes</h1>
    
    <div id="cambio">
        <% if (cambio) { %>
            <h2>¡Modificación Realizada con Éxito!</h2>
            <pre><%= JSON.stringify(cambio, null, 2) %></pre>
        <% } %>
    </div>

    <ul>
        <% superheroes.forEach( (heroe) => { %>
            <li> <%= heroe.nombreSuperHeroe+ ' (' + heroe.nombreReal + ')'  %> </li>
            <!-- agregar alerta eliminación -->
            <button onclick="window.location.href='/api/formulario/modificar-heroe-formulario/<%= heroe._id %>'">Modificar</button>
            <button id="delete-button" name-hero="<%= heroe.nombreSuperHeroe %>" data-id="<%= heroe._id %>">eliminar</button>
        <% }); %>
    </ul>

    <script>
        document.querySelectorAll('#delete-button').forEach(button => {
            button.addEventListener('click', async function () {
                const heroeID = this.getAttribute('data-id'); // this selecciona uno por uno
                const nameHero = this.getAttribute('name-hero');
                const decision = confirm(`¿Estás seguro de que deseas eliminar a ${nameHero}?`);

                if (decision) {
                    try {
                        const response = await fetch(`/api/heroes/borrar-id/${heroeID}/`, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        });

                        if (!response.ok) {
                            throw new Error('Error en la eliminación');
                        }

                        // Recargar la página después de eliminar
                        location.reload();

                    } catch (error) {
                        console.error('Error al eliminar el superhéroe:', error);
                    }
                }
            });
        });
    </script>
</body>
</html>